// ========================================
// link fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');

// ========================================

* {
	font-family: 'Source Code Pro', monospace;
	transition: 0.4s;
}

.body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: rgb(226, 226, 226);

	.main {
		flex-grow: 1;
	}
}

body {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background: rgb(211, 211, 211);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background: rgb(160, 160, 160);
	}
}
